.App {
  text-align: center;
}
.ipod{
  background-image: url('./images/background.png');
  background-size: auto;
  background-repeat: no-repeat;
  height: 90vh;
  width: 35vw;
  /* min-width: 590px; */
}